h1, h2 {
    font-family: 'Helvetica Neue Light', sans-serif;
    font-weight: lighter;
    color: white;
}

#title h2 {
    margin-top: -10px;
}

h3{
    text-align: center;
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}

.navbar-wrapper .container {
    padding-left: 0;
    padding-right: 0;
}

.navbar-wrapper .navbar {
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .navbar-wrapper {
        margin-top: 20px;
    }
}
.jumbotron{
    margin-bottom: 0px;
    background-color: #4990e1;
}
.jumbotron h1{
    color: white;
}

.navbar-default{
    background-color: #3b7ecc;
    color: #ffffff;
    border-color: #5394FF;
}

.navbar{
    border-radius: none !important;
}

.nacbar .navbar-default{
    padding-bottom: 0px;
}

.navbar + a{
    margin: 0px;

}
.navbar-default .navbar-collapse{
    border: none;
}
.nav li a {
    color: #ffffff;
    margin-bottom: 0px;
    font-size: 16px;
    vertical-align: center;
    padding-top: 13px;
}

#logo {
    height: 120px;
    margin-top: 20px;
}

.social {
    font-size: 40px;
    color: #ffffff;
    padding-top: 30px;
}

#socialDiv a :hover{
    color: #e3e3e3;
}

.socialRight {
    padding-left: 10px;
}
